body {
    background-color: black;
    height: 100vh;
}


div {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px solid white;
    border-radius: 50%;
    background-size: cover;
    pointer-events: none;
    width:100px;
    height:100px

}